@import "../../assets/sass/MainUtil";

.button {
    display: inline-block;
    border: 1px solid;
    padding: .75rem 1.5rem;
    border-color: rgba($black, .1);
    color: $white;
    @include borderRadius(4px);

    @each $type,
    $color in $colors {
        &.button-#{$type} {
            color: $white;
            background-color: lighten($color, 10%);
        }
    }

    &:hover,
    &:active,
    &:focus {
        @include boxShadow();
        text-decoration: none;
    }

    &.button-transparent {
        border-color: $white;

        &:hover,
        &:active,
        &:focus {
            box-shadow: none !important;
            color: $white;
        }
    }

    // @include breakpoint(768px) {
    //     padding: .5rem 1.2rem;
    // }
}