@import '../../assets/sass/MainUtil';

footer.footer {
    background-image: url('../../assets/img/city-white.webp');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-color: lighten($black, 25%);
    color: $white;
    padding: 2rem 0 6rem;
    text-align: center;
}