@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Dancing+Script:wght@700&display=swap');

@import './MainUtil';

html,
body,
main {
    @include fontMain;
}

.loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
}

.cta {
    margin-top: 1.5rem;
}