$white: #fff !default;
$black: #000 !default;
$main: #3377aa !default;
$success: #337733 !default;
$warning: #ff7733 !default;
$danger: #773333 !default;

$colors: ('main':$main, 'success':$success, 'warning':$warning, 'danger':$danger);